################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# =============== #
# Unity generated #
# =============== #
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
UnityGenerated/

# Never ignore asset metadata
!/[Aa]ssets/**/*.meta
# ...except for folders we're ignoring
[Aa]ssets/Store.meta

# This is a folder I use to hold assets I downloaded that aren't used
# in the project, so that they don't clutter the repository
[Aa]ssets/Store

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
*.booproj
*.pidb
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs

# =============== #
# Rider generated #
# =============== #
.idea/

# ================= #
# Blender generated #
# ================= #
*.blend1

# ============ #
# OS generated #
# ============ #
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?
