################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# =============== #
# Unity generated #
# =============== #
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
UnityGenerated/

# Never ignore asset metadata
!/[Aa]ssets/**/*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
*.booproj
*.pidb
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs

# ================= #
# Blender generated #
# ================= #
*.blend1

# ============ #
# OS generated #
# ============ #
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?
